body {
  font-family: sans-serif;
  margin: 0;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0.0;
  pointer-events: none;
}

body > .message-box {
  position: fixed;
  bottom: 0;
  width: 100%;

  opacity 1.0;
  transition: opacity 0.4s;
}

.message-box > .content {
  background-color: rgba(102, 205, 170, 0.62);
  font-size: 0.8em;

  margin: 1em;
  padding: 1em;

  border: 1px solid cornflowerblue;
  border-radius: 0.2em;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body > section {
  margin: 1em;
  padding: 1em;
  background-color: peachpuff;
  border: 1px solid saddlebrown;
  border-radius: 0.2em;
}

body > section > h1 {
  font-size: 1.2em;
  padding-left: 0.5em;
  margin-top: 0;
}

body > section > h1::before {
  position: relative;
  right: 0.5em;

  content: '▼';
  float: left;

  transition: transform 0.2s;
}

body > section.collapsed > h1::before {
  transform: rotate(-90deg);
}

body > section.collapsed {
  max-height: 1.2em;
  overflow: hidden;
}

body > section input,
body > section label,
body > section button {
  margin: 0.4em 0;
  width: 100%;
}

label {
  display: table;
}

label > span {
  display: table-cell;
  width: 1px;
  padding-right: 1em;
  white-space: nowrap;
}

label > select {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
